{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/footer.css' %}">
</head>
<body>
    <div class="footer-div">
        <div class="block1">
            <p>Baabtra</p>
            <p>Mentoring partner</p>
        </div>
        
        <div class="block2">
            <p><b>Email:</b>info@baabtra.com</p>
            <p><b>Phone:</b>+91-8592 058 444</p>
        </div>
        
        <div class="block3">
            <p><b>Address</b>:5th floor,CAFIT square</p>
            <p>Hi lite Buisness park,calicut</p>
        </div>
        

    </div>
</body>
</html>