#paradiv{
    background-color: #111130;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1% 1%;
    margin-top: 10px;
}
#parg{
    text-align: justify;
}
.grid-container-courses{
    width: 100%;
    height: 650px;
    background-color:none;
}
.python-div{

    width: 30%;
    float: left;
    background-color: none;
    padding: 10px;
}
.php-div{
width: 30%;
float: left;
background-color:none;
padding: 15px;
}
.angular-div{
width: 35%;
float: left;
background-color:none;
padding: 10px;
}
#python{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
#php{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
#angular{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
