.header-div{
    width: 100%;
    height: 100px;
    background-color: none;
    position: none;
    top: none;
}
.logo-div{
    width: 20%;
    height: 100px;
    background-color: none;
    float: left;
}
.filler-div{
    width: 40%;
    height: 100px;
    background-color:none;
    float: left;
}
.button-div{
    width: 40%;
    height: 100px;
    float: right;
}
.login{
    width: 20%;
    height: 30px;
    background-color: rgb(35, 35, 141);
    color: white;
    border-radius: 10px;
    float: right;
    margin: 20px;
    
}
.register{
    width: 20%;
    height: 30px;
    background-color: rgb(29, 90, 29);
    color: white;
    border-radius: 10px;
    float: right;
    margin: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 32, 66);
    height: 50px;
    position: sticky;
    top: 0%;
}
li {
    float:left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size:larger ;
    padding: 14px 16px;
    display:block;
    
}
li a {
    
    
    
}
li:hover {
    background-color: rgb(25, 92, 146);
}
.navbar{
    position: sticky;
    top: 0;
}
